.economy {
    /*flex-flow: column;*/
    flex-flow: row wrap;
    background-color: var(--lumo-primary-color-10pct);
}

.economy > * {
    flex: 1 100%;
}

.economy .account {
    /*flex-flow: row nowrap;*/
    /*align-items: center;*/
    flex-flow: column;
    margin: var(--lumo-space-xs);
}

.economy .account > * {
    box-sizing: border-box;
    padding: var(--lumo-space-s);
}

.economy .account .name {
    padding-bottom: 0;
    font-style: italic;
}

.economy .account .balance {
    padding-top: 0;
}

.economy .account:nth-child(2n) {
    background-color: var(--lumo-primary-color-10pct);
}