.weather {
    /*flex-flow: column;*/
    flex-flow: row wrap;
    background-color: var(--lumo-primary-color-10pct);
}

.weather > * {
    flex: 1 100%;
}

.weather .details {
    flex-flow: row nowrap;
    margin: var(--lumo-space-xs);
}

.weather .details > * {
    box-sizing: border-box;
    padding: var(--lumo-space-s);
}

.weather .details .icon {
    width: 70px;
}

.weather .details .content {
    flex-flow: column;
}

.weather .details .date {
    padding-bottom: 0;
    font-weight: bold;
}

.weather .details .summary {
    padding-top: 0;
    font-style: italic;
    color: var(--lumo-tint-70pct);
}

.weather .details .temp {
    padding-top: 0;
}

@media all and (max-width: 799px){
    .weather_view .weather .details:nth-child(2n) {
        background-color: var(--lumo-primary-color-10pct);
    }
}

@media all and (min-width: 800px) {
    .weather_view .weather .details {
        flex: 1 49%;
        box-sizing: border-box;
    }

    .weather_view .weather .details > * {
        box-sizing: border-box;
        padding: var(--lumo-space-m);
    }

    .weather .details .icon {
        width: 125px;
    }

    .weather_view .weather .details:nth-child(4n) {
        background-color: var(--lumo-primary-color-10pct);
    }

    .weather_view .weather .details:nth-child(4n + 1) {
        background-color: var(--lumo-primary-color-10pct);
    }
}